<div class="header">
  <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="header-nav pull-left left-nav">
      <div layout="column" flex-sm="100" flex="33" layout-align="center center">
        <md-menu md-offset="0 -5">
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
            <i class="fa fa-bars"></i>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="item in [1, 2, 3]">
              <md-button ng-click="vm.announceClick($index)"> <span md-menu-align-target="">Option</span> {{item}} </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
    <div class="header-nav center-nav">
      <i class="fa fa-user"></i>
    </div>
    <div class="header-nav pull-right right-nav">
      <i class="fa fa-user"></i>
    </div>
  </nav>
</div>