<div>
  <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, rewindNav : false}">
    <div owl-carousel-item="" ng-repeat="item in ::items1" class="item">
      <!-- Image card -->
      <div class="demo-card-image mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="demo-card-image__filename">Image{{::item}}.jpg</span>
        </div>
      </div>
    </div>
  </data-owl-carousel>
  <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
    <div owl-carousel-item="" ng-repeat="item in ::items2" class="item">
      <!-- Event card -->
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h4>
            Featured event:<br>
            May 24, 2016<br>
            7-11pm
          </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Add to Calendar
          </a>
          <div class="mdl-layout-spacer"></div>
          <i class="material-icons">event {{::item}}</i>
        </div>
      </div>
    </div>
  </data-owl-carousel>
</div>

<!--a item-->
<!--<div>-->
  <!--&lt;!&ndash; Image card &ndash;&gt;-->
  <!--<div class="demo-card-image mdl-card mdl-shadow&#45;&#45;2dp">-->
    <!--<div class="mdl-card__title mdl-card&#45;&#45;expand"></div>-->
    <!--<div class="mdl-card__actions">-->
      <!--<span class="demo-card-image__filename">Image.jpg</span>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; Event card &ndash;&gt;-->
  <!--<div class="demo-card-event mdl-card mdl-shadow&#45;&#45;2dp">-->
    <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
      <!--<h4>-->
        <!--Featured event:<br>-->
        <!--May 24, 2016<br>-->
        <!--7-11pm-->
      <!--</h4>-->
    <!--</div>-->
    <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
      <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">-->
        <!--Add to Calendar-->
      <!--</a>-->
      <!--<div class="mdl-layout-spacer"></div>-->
      <!--<i class="material-icons">event</i>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->